@import '~bootstrap/scss/bootstrap';

*{
  box-sizing: border-box;

}
:root{
  --dark: #1c1c1c;
  --primary: #0282f9;
}

footer {
  h4 {
    color: white;
    margin-bottom: 1rem;
  }

  ul {
    padding-bottom: 1rem;
  }

  ul,
  li,
  a {
    list-style: none;
    text-decoration: none;
    color: grey;
  }

  p {
    color: grey;

    a {
      color: #6767f7;
    }
  }

  background-image: url('../img/footer-bg.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  #top_section{
    background-color: var(--primary);
    color: white;
    text-transform: uppercase;
    
    a{
      text-decoration: none;
    }
  }

  #logo_placeholder {
    width: 100%;
    height: 100%;
    background-image: url('../img/dc-logo-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

}

main {
  background-color: var(--dark);
  #jumbotron{
    height:400px;
    overflow-y: hidden;
    width: 100vw;
    img{
      width:100%;
      height: auto;
    }
  }

  #comic_thumb{
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    img{
      width: 100%;
      height: 250px;
      object-fit: cover;
      object-position: center top;
    }
    
  }
}


